<!doctype html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Tells mobiles how to scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "styles" %>
   


  </head>
  <body class="<%= page_classes %>">
    <div class="navTainer">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "work", "/index.html", id: 'work' %></li>
          <li><%= link_to "about", "/about.html", id: 'about' %></li>
          <li><%= link_to "contact", "/contact.html", id: 'contact' %></li>
          <li><%= link_to "cutPasteKeep", 'http://cutpastekeep.tumblr.com/', id: 'cutPasteKeep' %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    <div class="background">
      <div class="container"> 
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed c-hamburger c-hamburger--htx" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span>toggle menu</span>
              </button>
              <a class="navbar-brand" href="/">dbahnan</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
          </div><!-- /.container-fluid -->
        </nav>
        








        <%= yield %>
      </div>
      <%= javascript_include_tag  "all" %>
    </div>
  </body>
  <footer>
    <div class="col-xs-12 stickyFoot">
        <%= image_tag "images/dFooter.svg" %>
  </footer>
</html>













