<!doctype html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"></link>

<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Tells mobiles how to scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "styles" %>
   


  </head>

  <body class="<%= page_classes %>">
  <div class="container"> 
    <header class="col-xs-12">
        <h1 class="col-xs-6">dbahnan</h1>
        <div class="nav-burger col-xs-6">
        	<span></span>
        </div>
    </header>
    <nav class="mainNav col-xs-12">
		<ul>
    	<li><%= link_to "work", "/index.html", id: 'work' %></li>
    	<li><%= link_to "about", "/about.html", id: 'about' %></li>
      <li><%= link_to "contact", "/contact.html", id: 'contact' %></li>
      <li><%= link_to "cutPasteKeep", 'http://cutpastekeep.tumblr.com/', id: 'cutPasteKeep' %></li>
    	</ul>
    </nav>
    <%= yield %>
    <footer>
   		<div class="col-xs-12 stickyFoot">
      		<%= image_tag "images/dFooter.svg" %>
    </footer>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <%= javascript_include_tag  "all" %>
  </body>
</html>













