---
title: The Wrong Side Of The Studs
---

<hr/>
<div class="description-small">
  <div class="description-large">
    <div class="col-sm-4 col-md-4 col-md-offset-1">
      <h1>The Wrong Side Of The Studs</h1>
    </div>
    <div class="col-sm-8 col-md-5 col-md-offset-1">
      <p class="work-intro">A coffe table instruction book showing advanced brick techniques to inspire more hands-on creativity. The narrative follows a megalomaniac scientist who has hung up his lab coat and is now a professor at the fictional 'Institute of Mad Science and Villainy'</p>

      <div class="expandable-text">
        <p></p><p>
        The idea of the book arose out of my never fading enthusiasm for LEGO and building; in recent years I have seen a surge in popularity for LEGO once more, not only as a commonplace toy for children, but for more serious applications such as art and medical prosthetics. Out of this there has been a growing number of adults rediscovering LEGO as a creative outlet, people share their builds online, often collaborating in order to design in all shapes and styles. For many it’s the first time they’ve had contact with the ABS bricks in many years and regret the years of abstinence they call ‘The Dark Ages’.<br><br>‘The Dark Ages’, is a well-known phenomenon within the LEGO community. It’s the time when priorities change, when LEGO is cast aside and replaced with the video games, dates and mates of teenage years, followed unwillingly by jobs, mortgages, taxes and more that the adult world thrusts upon us. This book is for both sides of ’The Dark Ages’; for those who have not quite given up on LEGO and for those who are getting older than the ages on the box, The aim is that the book can remind those who have forgotten and those who haven’t quite stopped, that play is still a serious business.<br><br> The booklet has been designed to make references to building as a kid; the ‘baddies’ and the oversized format remind adults what it was like to be small again. The booklet contains a selection of villainous chairs, with one being the focus of a build section. The build section contains an explanation what is needed, as well as a QR link to CAD models of the chairs featured and a video of how to build the feature chair ‘Skulli’. I intend to develop the ideas of this booklet into a full book communicating model building to the reader and expanding the ideas into essential objects for villainy. Even if the reader does not have all the parts, by reading the book and watching the videos, they can take the underlying principles and modify them, thus promoting the thirst for creativity and building that has been dampened through years of serious adulthood.</p><p></p>
      </div>
      <div class="expand-text">
        <i class="icon icon-ion-plus"></i>
      </div>
    </div>
  </div>
</div>






<div class="content">
  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic1">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/1.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic2">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/2.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic3">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/3.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic4">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/4.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic5">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/5.gif" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic6">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/6.jpg" %>
  </div>
</div>


