---
title: The Wrong Side Of The Studs
---

<hr/>
<div class="description-small">
  <div class="description-large">
    <div class="col-sm-4 col-md-4 col-md-offset-1">
      <h1>The Wrong Side Of The Studs</h1>
    </div>
    <div class="col-sm-8 col-md-5 col-md-offset-1">
      <p class="work-intro">A coffee table/instruction book, teaching advanced brick techniques through the theme of megalomaniac baddies. It follows evil scientist, who has hung up his lab coat and now teaches at ‘the institute of mad science and villainy’.</p>

      <div class="expandable-text">
        <p></p><p>Boxing is about respect. getting it for yourself, and taking it away from the other guy. the man likes to play chess; let's get him some rocks. the man likes to play chess; let's get him some rocks. mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. i once heard a wise man say there are no perfect men. only perfect intentions. <br><br>Cities fall but they are rebuilt. heroes die but they are remembered. rehabilitated? well, now let me see. you know, i don't have any idea what that means. i now issue a new commandment: thou shalt do the dance. cities fall but they are rebuilt. heroes die but they are remembered. i did the same thing to gandhi, he didn't eat for three weeks.<br><br>let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. that tall drink of water with the silver spoon up his ass. i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. that tall drink of water with the silver spoon up his ass. i once heard a wise man say there are no perfect men. only perfect intentions. you measure yourself by the people who measure themselves by you.</p><p></p>
      </div>
      <div class="expand-text">
        <i class="icon icon-ion-plus"></i>
      </div>
    </div>
  </div>
</div>






<div class="container">
  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic1">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/1.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic2">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/2.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic3">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/3.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic4">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/4.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic5">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/5.gif" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic6">
    <%= image_tag "images/projects/1.WrongSideOfTheStuds/6.jpg" %>
  </div>
</div>


