---
title: Soup Dragon
---

<hr/>
<div class="description-small">
  <div class="description-large">
    <div class="col-sm-4 col-md-4 col-md-offset-1">
      <h1>Soup Dragon Shop</h1>
    </div>
   <div class="col-sm-8 col-md-5 col-md-offset-1">
      <p class="work-intro ">Soup Dragon is a small but established toy shop in North London. It creates a sense of magic for its customers, big and little alike. After 22 years in business, it was in need of a refit.</p>
      <div class="expandable-text">
        <p></p><p>Over the years customers had always commented on the wide display of toys within the shop, the floor-to-ceiling shelving allowed people to look at everything, whilst also highlighting best sellers that would catch peoples eye. Nevertheless, there was still a cramped feel to the shop which had to be modified, therefore by working closely with the builder, we took out the original staircase to the house above and widened the shop, whilst also repositioning the door and display windows to maximise space for buggies. The shop was also quite dark meaning that a new lighting system had to be installed, we chose spotlights as we could position these strategically over the displays. The large window towards the back of the shop was restored and backlit to give a feeling of more space and light. The central units have always been a popular fixture in the shop as they house the ‘pocket-money’ section, these were kept low enough to maximise visibility across the shop to add peace of mind to parents and employees. An integral part of Soup Dragon has always been its playhouse, thus it had to stay but needed a redesign. Using CNC Milling we not only widened the playhouse, but dramatically transformed it from an MDF painted frontage to a multi-layered castle design at an affordable price which shocked both the owner and myself. <br><br>Through co-ordinating with the owner, we created pinterest mood boards in order to establish the feel of the shop. We decided that we wanted it to remain colourful and exciting in order to entice passers-by to come and have a look around. Through searching the web and our own creative insights, we decided that a theme would work well in the shop, it had to be magical and child-friendly; a toy shop that children felt they could play in as well. A castle theme was chosen as it appealed to both boys and girls alike, with dragons and towers, princess tiaras and swords. The theme is reflected throughout the shop, not only in the castle playhouse, but also with the subtle detailing of battlements around the outer shelving. We also installed a door above the till, adding mystery and magic for the children, and a practical way to communicate easily with the shops office upstairs. <br><br>By working with the owner and builder from the start of the project it meant that I had creative input throughout the whole process. From inputting ideas for the theme, colours and lighting options to designing the refit on CAD I could see the problems that needed to be addressed as well as the fundamental elements of the shop that just needed a facelift. I worked on the actual build of Soup Dragon from knocking down walls and chimneys to gluing, screwing and painting the units. The shop redesign enabled me to be creative, use CAD whilst also adding finesse to the nearly finished product. </p><p></p>
      </div>
      <div class="expand-text">
        <i class="icon icon-ion-plus"></i>
      </div>
    </div>
  </div>
</div>





<div class="content">
  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic1">
    <%= image_tag "images/projects/3.SoupDragonShop/1.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic2">
    <%= image_tag "images/projects/3.SoupDragonShop/2.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic3">
    <%= image_tag "images/projects/3.SoupDragonShop/3.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic4">
    <%= image_tag "images/projects/3.SoupDragonShop/4.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic5">
    <%= image_tag "images/projects/3.SoupDragonShop/5.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic" id="projectPic6">
    <%= image_tag "images/projects/3.SoupDragonShop/6.jpg" %>
  </div>
</div>


