---
title: The Unit
---

<hr/>
<div class="description-small">
  <div class="description-large">
    <div class="col-sm-4 col-md-4 col-md-offset-1">
      <h1>The Unit</h1>
    </div>
   <div class="col-sm-8 col-md-5 col-md-offset-1">
      <p class="work-intro">The unit aims to maximise available living space for the urban population as personal space shrinks and property square footage becomes increasingly precious. By combining a desk, tv stand and set of drawers it takes three usually large furniture items and develops them into a multi-functioning concept.</p>
      <div class="expandable-text">
        <p></p><p>Thee brief was to identify possible solutions to maximise living space in a small area. The three furniture pieces are often used independently from one another; often the drawers in the morning, the desk throughout the day and the tv stand at night meaning that they could be incorporated into one item without impacting their function. Once these uses had been identified an idea was formed and the style was created in order to match a specific clients taste.<br><br>At first the basic idea of combining clothes storage, workspace and entertainment was evaluated and explored. By sketching different configurations, three superior configurations emerged, as chosen by the direct client for further development. These initial ideas were refined and modelled both in cardboard and CAD, enabling a better understanding of possible manufacturing techniques as well as giving a better representation to the client of how it would eventually look. Once satisfied, the unit was built by myself, using mostly hand tools and wood from the local wood yard.<br><br>The main product included many useful features to maximise space and convenience. For the tv stand area I incorporated a sliding storage space on the top that provided room for remote controls and cables that was hidden from view and therefore did not distract away from the tv. The space was also designed with enough space to install an extension lead which could be accessed from both the top and behind the piece, allowing it to also be used for a laptop on the desk area. The desk pulled out of the main body, giving more workspace; whilst this concept wouldn’t be suitable for everyone, the client liked the idea as it enforced a tidier working habit. Underneath the desk space was an open area into which consoles, amplifiers, speakers etc could be placed without them impacting on the work or entertainment area. At he bottom of the unit there were four drawers providing ample versatile storage for clothes, games, DVD’s or stationary depending on the users needs. 
</p><p></p>
      </div>
      <div class="expand-text">
        <i class="icon icon-ion-plus"></i>
      </div>
    </div>
  </div>
</div>





<div class="content">
  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic"  id="projectPic1">
    <%= image_tag "images/projects/2.TheUnit/1.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic"  id="projectPic2">
    <%= image_tag "images/projects/2.TheUnit/2.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic"  id="projectPic3">
    <%= image_tag "images/projects/2.TheUnit/3.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic"  id="projectPic4">
    <%= image_tag "images/projects/2.TheUnit/4.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic"  id="projectPic4">
    <%= image_tag "images/projects/2.TheUnit/5.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic"  id="projectPic4">
    <%= image_tag "images/projects/2.TheUnit/6.jpg" %>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic"  id="projectPic4">
    <%= image_tag "images/projects/2.TheUnit/7.jpg" %>
  </div>
  <div class="col-xs-12 col-md-10 col-md-offset-1 projectPic"  id="projectPic4">
    <%= image_tag "images/projects/2.TheUnit/8.jpg" %>
  </div>
</div>


