---
title: About Me 
---

<div class="col-xs-12" id="mePic">
    <%= image_tag("images/mePic.jpg") %>
</div>
<div class="col-xs-12">
  <h2>About Me</h2>
</div>
<div class="col-xs-12">
  <p class="work-intro">I’m Dylan Bahnan, a multi-disciplinary product designer based in London. I recently graduated from Brunel Industrial Design and am looking for work. I work best with consistant deadlines, surrounded by a diverse team, working towards a shared goal. If that sounds like what your looking for, continue reading to find out more.</p>
</div>

<hr/>
<div class="col-xs-12" id="timeline">
  <%= image_tag "images/Timeline.svg" %>
</div>
<div class="col-xs-12 col-md-6">
  <div class="col-xs-4" id="MeCon">
    <%= image_tag "images/Wrong-blu.svg" %>
  </div>
  <div class="col-xs-4" id="MeCon">
    <%= image_tag "images/Geeky-blu.svg" %>
  </div>
  <div class="col-xs-4" id="MeCon">
    <%= image_tag "Business-blu.svg" %>
  </div>
  <div class="col-xs-4" id="MeCon">
    <%= image_tag "images/Curious-blu.svg" %>
  </div>
  <div class="col-xs-4" id="MeCon">
    <%= image_tag "images/Versatile-blu.svg"  %>
  </div>
  <div class="col-xs-4" id="MeCon">
    <%= image_tag "images/Positive-blu.svg" %>
  </div>
</div>
<div class="col-xs-12 col-md-6" id="skills">
  <%= image_tag "images/Skills.svg" %>
</div>



<script>
  document.getElementById("about").className = "active";
</script>