---
title: About Me 
---

<hr/>
<div class="col-xs-12 col-sm-10 col-sm-offset-1 about-intro">
  <div class="col-xs-12" id="mePic">
    <img src="images/pHolder.gif" class="mePic"/>
  </div>
  <p class="centered-text subText lead">Hi! I’m Dylan Bahnan, a multi-discplinary product designer based in London. I recently graduated from Brunel Industrial Design where I developed a comprehensive set of skills both in practical design and technological design. I am looking for work within a creative environment with a diverse team who enjoy working towards a shared goal. If that sounds like what you’re looking for, continue reading to find out more…
</p>
  <div class="col-xs-12 col-sm-6">
    <p>Since I can remember I have always possessed a passion for construction. What started out as Duplo blocks being stacked in a tower developed into an obsession with LEGO, that I still possess to this day, and more recently throughout school and University, an enthusiasm for designing and building furniture. Building, for me, enables me to be a part of the whole process, from ideas and drawings to the practical manufacture of the end product. The challenges that arise along the way from taking an idea from a vague thought into a 2D concept all the way into a 3D reality is what excites me about being a designer. 
</p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <p>Nevertheless, this enthusiasm for partaking in the whole process doesn’t stop with building; I have always been an avid computer user, teaching myself from a young age to navigate through programmes such as Adobe Suite to learning coding. I don’t take myself too seriously, but I do take my work seriously. Design, for me, isn’t rocket science; good design is about listening to what people are saying, and often more importantly to what they’re not saying. The enjoyment that I take from designing products means that I’m willing to work longer and harder in order to end up with a refined result.
</p>
  </div>
</div>

<hr/>
<div class="col-xs-12" id="cvContainer">
  <h2 class="centered-text"> What I've done.</h2>
  <div class="col-xs-12" id="timeline">
    <%= image_tag "images/pHolder.gif" %>
  </div>
</div>
<hr/>
<div class="col-xs-12" id="cvContainer">
  <h2 class="centered-text"> Who I am.</h2>
    <div class="col-xs-12 col-md-6" id="meCon">

    <div class="col-xs-6 col-ms-4 col-sm-3 col-md-4" id="meCon">
      <%= image_tag "images/Wrong-blu.svg" %>
    </div>
    <div class="col-xs-6 col-ms-4 col-sm-3 col-md-4" id="meCon">
      <%= image_tag "images/Geeky-blu.svg" %>
    </div>
    <div class="col-xs-6 col-ms-4 col-sm-3 col-md-4" id="meCon">
      <%= image_tag "Business-blu.svg" %>
    </div>
    <div class="col-xs-6 col-ms-4 col-sm-3 col-md-4" id="meCon">
      <%= image_tag "images/Curious-blu.svg" %>
    </div>
    <div class="col-xs-6 col-ms-4 col-sm-3 col-sm-offset-3 col-md-4 col-md-offset-0" id="meCon">
      <%= image_tag "images/Versatile-blu.svg"  %>
    </div>
    <div class="col-xs-6 col-ms-4 col-sm-3 col-md-4" id="meCon">
      <%= image_tag "images/Positive-blu.svg" %>
    </div>

    </div>

  <div class="col-xs-12 col-md-6" id="skills">
    <%= image_tag "images/Skills.svg" %>
  </div>

  <!--<div class="col-xs-12" id="cvDwn">
    <a class="btn btn-default dwnldCV" href="#" role="button">GET MY RESUME</a>
  </div>-->
</div>


<script>
  document.getElementById("about").className = "active";
</script>